body{

    background-color: rgb(242, 242, 242);
}
h1{
    color: rgb(252, 247, 247);
    text-align: center;
}
p{
    color: rgb(203, 203, 87);
    text-align: center;
}
h1:hover{
    color: blue;
}
*{
    color: maroon;
} 
#high.hover{
    color: rgba(10, 10, 10, 0);
}
.light{
    background-color: rgb(255, 255, 100);
}
div{
    .pitch{
        color: black;
        background-color: white;
    }
    background-color: green;
    color: rgb(253, 253, 35);
    border: 10px;
}

